.Header {
    display: flex;
    justify-content: space-between;
    
}

.Logo {
    width: 100px;
    height: 100px;
    border: 10px;
    border-radius: 50px;
    
}
.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
    margin-right: 300px;
    
}
.header-menu>li:hover{
    cursor: pointer;
    color:green
}
.header-menu>li{
    margin-top: 20px;
}
